{#
/**
 * @file
 * Theme for a Trello Export.
 *
 * Available variables:
 * - cards: array of cards with card details
 *
 * @ingroup themeable
 * @see https://developers.trello.com/advanced-reference/list#get-1-lists-idlist-cards
 */
#}
<h1>Card Export</h1>

{% for card in cards %}
  <div class="trello-export-card">
  <h2>{{ card.name }}</h2>
  <div>
  <ul>
  {% if card.due %}
    <li>Due: {{ card.due|date("l m/d/Y") }} </li>
  {% endif %}
    <li>Last Activity: {{ card.dateLastActivity|date("l m/d/Y") }}</li>
  </ul>
  
  {{ card.desc }}

  {% if attachments %}
  <h3>Attachments</h3>
  <ul>
  {% for attachment in attachments %}
    <li>{{ attachment.name}}: {{attachment.url}}</li>
  {% endfor %}
  </ul>
  {% endif %}
  
  {% if checklists %}
  <h3>{{ checklist.name }}<h3>
  <ul>
  {% for checklist in checklists.checkItems %}
    <li>{{ checklist.name }}: {{ checklist.state }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if card.labels %}
  <h3>Labels</h3>
  <ul>
  {% for label in card.labels %}
    <li>{{ label.name }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if card.members %}
  <h3>Assigned to</h3>
  <ul>
  {% for member in card.members %}
    <li>{{ member.fullName }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  <h3>Other Information</h3>
  <ul>
  <li>Votes: {{ card.badges.votes }}</li>
  <li>Comments: {{ card.badges.comments }}</li>
  <ul>
  {% for action in card.actions %}
    <li>{{ action.memberCreator.fullName }}: {{ action.data.text }}</li>
  {% endfor %}
  </ul>
  </ul>
  </div>
  </div>
{% endfor %}

